/*Menü 1 Ballonos víz
Ballonos vizek ismertetője, ásványi anyag tartalom táblázat

Menü 2 19-literes Szentkirályi ballonos víz
Víz ismertetése, élettani hatása és egyéb faszságok

Menü 3 19-literes Emese ballonos víz
Emese víz  ismertetése

Menü 4 Ásványvíz márkák, árak
Rendelhető vízek táblázata

Menü 5 Rendelés

Menü 6 Ásványvíz házhozszállítás
Információk 

Menü 7 Szénsavas vízadagolók
Vízadagolók márka szerinti ismertetése 

Menü 8 Szénsavmentes vízadagoló
Vízadagolók márka szerinti ismertetése

Menü 9 Vízadagoló karbantartás
Információ és tanácsok a hiba elhárítására

Menü 10 Vízadagoló kiegészítők
4 darab termék képpel, árral, rövid ismertetővel!

Menü 11 Ballontartó állvány
Információk az állványokról*/

body {
    background-image: url(images/bg.png);
    background-size: cover;
}

.josefin p{
    font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: #FFFFFFC2;
}

.header { 
    width: 100%;
    height: 150px;
    background-image: url(images/header3.png);
    background-position: center;
    background-repeat: no-repeat;
    /*background-color: #FFFFFFC2;*/
}

.column {
    font-family: 'Josefin Sans', sans-serif;
    float: left;
    padding: 10px;
    height: 100%;
    /*background-color: #FFFFFFC2;
    margin-top: 50px;*/
}
/* Left and right column */
.column.side {
    width: 20%;
}
/*.column.side li {
    list-style-type: none;
}
.column.side li a{
    color: black;
}*/

/* Middle column */
.column.middle {
    width: 80%;
    /*background-color: #FFFFFFC2;*/
}
.column.middle li {
   font-family: 'Josefin Sans', sans-serif;
}

.row1{
    margin: 0px;
}
/* Clear floats after the columns 
.row:after {
    clear: both;
}*/

.menu{
    font-family: 'Josefin Sans', sans-serif;
}

.menu ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.menu li a{
    color: black;
    display: block;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #b3ffff;
}

.kapcsolat{
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}

.content {
	width: 100%;
	height: 100%;
}

.footer {
	/*background-color: #FFFFFFC2;*/
	width: 100%;
	height: 80px;
	/*margin-top: 50px;*/
}
/*Menü1*/
#piros { 
	color :red;
	text-align: center;
}

.table tr {
    font-family: 'Josefin Sans', sans-serif;
    width:100%;
}

/*Menü2*/
.kartya {
	border-style: solid;
	border-width: 2px;
    border-radius: 5px;
    border-color: #1ac6ff;
    padding-top: 25px; 
    padding-left: 2%;
    padding-bottom: 25px;
    padding-right: 25px;
    position: relative;
    height: 100%;
}

.kep {
	width: 266px;
	height: 100%;
	border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #1ac6ff;
    background-color: #1CCFE28A;
}

.kep img {
	margin-left: 25%;
}

.felirat {
	text-align: center;
}

.szoveg {
	font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    padding: 5px;
    top: 25px;
    left: 33%;
    right: 0%;
  }

  /* Menü3 */
.kartya2 {
	border-style: solid;
	border-width: 2px;
    border-radius: 5px;
    border-color: #1ac6ff;
    padding-top: 25px; 
    padding-left: 2%;
    padding-bottom: 25px;
    padding-right: 25px;
    position: relative;
}

.kep2 {
	width: 266px;
	height: 100%;
	border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #1ac6ff;
    background-color: #1CCFE28A;
}

.kep2 img {
	margin-left: 25%;
}

.felirat2{
	text-align: center;
}

.szoveg2{
	font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    padding: 5px;
    top: 25px;
    left: 33%;
    right: 0%;
}

/*Menü4*/
.kartya3 {
    /*border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #1ac6ff;*/
    padding-top: 25px; 
    padding-left: 2%;
    padding-bottom: 25px;
    padding-right: 25px;
    position: relative;
}

.felirat3 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}


.kep3 {
    width: 32%;
    height: 100%;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #1ac6ff;
    float: left;
    text-align: center;
    padding-top: 10px;
    margin-right: 5px;
    background-color: #1CCFE28A;
}

/*.kep4 {
    width: 33%;
    height: 100%;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #1ac6ff;
    float: left;
    text-align: center;
    padding-top: 10px;
    margin-right: 5px;
    background-color: #1CCFE28A;
}

.kep5 {
    width: 33%;
    height: 100%;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #1ac6ff;
    float: left;
    text-align: center;
    padding-top: 10px;
    background-color: #1CCFE28A;
}*/

.clearer{
    clear: both;
} 

.menu4table {
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.menu4table tr:nth-child(even) {
    background-color: #C0C0C0;
}

.menu4table th, td {
    padding: 5px;
    border: 1px solid black;
}

.kep21 {
    width: 20%;
    height: 100%;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #1ac6ff;
    float: left;
    text-align: center;
    padding-top: 10px;
    background-color: #1CCFE28A;
}

.szoveg4 {
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px;
    top: 25px;
    left: 33%;
    right: 0%;
}
/*Menü 6 Házhozszállítás*/
.kep6{
    float: left;
    width: 50%;
}
.szoveg3{
    float: left;
    width: 50%;
}


/*Menü 7 - Szénsavas vízadagoló menü*/
.kep7 {
    width: 24%;
    height: 550px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #1ac6ff;
    float: left;
    text-align: center;
    padding-top: 10px;
    background-color: #1CCFE28A;
    margin-right: 5px;
}

/* Menü8 - Szénsavmentes víadagolók*/
.kep11 {
    width: 24%;
    height: 550px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #1ac6ff;
    float: left;
    text-align: center;
    padding-top: 10px;
    background-color: #1CCFE28A;
    margin-right: 5px;
}

 /*Menü9 - Vízadagoló karbantartás*/
}
.kartya9 {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #1ac6ff;
    padding-top: 25px; 
    padding-left: 2%;
    padding-bottom: 25px;
    padding-right: 25px;
    position: relative;
}

.kep12 {
    width: 24%;
    height: 550px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #1ac6ff;
    float: left;
    text-align: center;
    padding-top: 10px;
    background-color: #1CCFE28A;
    margin-right: 5px;
}

.kep13 {
    width: 24%;
    height: 550px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #1ac6ff;
    float: left;
    text-align: center;
    padding-top: 10px;
    background-color: #1CCFE28A;
    margin-right: 5px;
}

/*Menü10 Vízadagoló kiegészítők */
.kep22 {
    width: 24%;
    height: 550px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #1ac6ff;
    float: left;
    text-align: center;
    padding-top: 10px;
    background-color: #1CCFE28A;
    margin-right: 5px;
}

/*Menü11 Ballontartó állvány*/
.kep26 {
    width: 24%;
    height: 550px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #1ac6ff;
    float: left;
    text-align: center;
    padding-top: 10px;
    background-color: #1CCFE28A;
    margin-right: 5px;
}

